[submodule "cheat-base/vendor/imgui"]
	path = cheat-base/vendor/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "cheat-base/vendor/simpleIni"]
	path = cheat-base/vendor/simpleIni
	url = https://github.com/brofield/simpleini.git
[submodule "cheat-base/vendor/fmt"]
	path = cheat-base/vendor/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "cheat-base/vendor/magic_enum"]
	path = cheat-base/vendor/magic_enum
	url = https://github.com/Neargye/magic_enum.git
